body {
    font-size: 14px;
}


/*
*
* DEFAULT ELEMENTS
*
*/


.logo {
    display: block;
    width: 200px;
    height: 100px;
    background: #eee;
    text-indent: -9999px;
}

.btn {
    display: inline-block;
    color: #fff;
    background-color: #6d24f2;
    text-transform: uppercase;
}

.wrap-content {
    margin: 0 auto;
    position: relative;
}

.full-height {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.title-bar {
    text-align: center;
    background-color: #6d24f2;
    margin: 0 0 20px;
}


.title-bar .title {
    color: #fff;
    line-height: 40px;
}


/*
*
* HOME PAGE
*
*/


#home {
    background-color: #4ae5e2;
}

#home .logo {
    margin: 0 auto 10px;
}


/*
*
* USER PROJECTS PAGE
*
*/


#userProject {}

.accord-bar {
    width: 100%;
    height: 6px;
    background: green;
}

.accord-header {
    background-color: #e3e3e3;
    heihgt: 94px;    
}

.accord-img {
    width: 94px;
    height: 94px;
    border-radius: 100%;
    position: relative;
    overflow: hidden;
    float: left;
    background: #ccc;
    margin: -20px 0 0 -14px;
}

.accord-img img {
    width: 100%;    
}

.accord-title-project,
.accord-short-description {
    float: left;
    height: 45px;
    overflow: hidden;
    padding: 5px 10px 0;
    margin: 10px 0 0;
}

.accord-title-project {
    width: 120px;
    border-right: solid 1px #ccc;
    text-align: center;
}

.accord-title-project small {
    text-transform: uppercase;    
}

.accord-short-description {
    width: 100px;
    font-size: 10px;
}
