body {
    font-size: 14px;
}


/*
*
* DEFAULT ELEMENTS
*
*/


.logo {
    display: block;
    width: 200px;
    height: 100px;
    background: #eee;
    text-indent: -9999px;
}

.btn {
    display: inline-block;
    color: #fff;
    background-color: #6d24f2;
    text-transform: uppercase;
}

.wrap-content {
    margin: 0 auto;
    position: relative;
}

.full-height {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.title-bar {
    text-align: center;
    background-color: #6d24f2;
}


.title-bar .title {
    color: #fff;
    line-height: 40px;
}


/*
*
* HOME PAGE
*
*/


#home {
    background-color: #4ae5e2;
}

#home .logo {
    margin: 0 auto 10px;
}


/*
*
* USER PROJECTS PAGE
*
*/


#userProject {}

.accord-bar {
    width: 100%;
    height: 6px;
    background: green;
}

.accord-header {
    heihgt: 94px;    
}

.accord-img {
    width: 94px;
    height: 94px;
    border-radius: 100%;
    position: relative;
    overflow: hidden;
    float: left;
    background: #ccc;
    margin: -20px 0 0 -14px;
}

.accord-img img {
    width: 100%;    
}

.accord-title-project,
.accord-short-description {
    float: left;
    height: 45px;
    overflow: hidden;
    padding: 5px 10px 0;
    margin: 10px 0 0;
}

.accord-title-project {
    width: 120px;
    border-right: solid 1px #ccc;
    text-align: center;
}

.accord-short-description {
    width: 100px;
    font-size: 10px;
}


.profile-name {

}

#profile .page-content {
    text-align: center;
}

#profile .header-content {
    background: #6d24f2;
    color: #fff;
    padding: 30px 0px 130px;
}

#profile .header-content h1 {
    font-size: 30px;
}

#profile .profile-image {
    width: 200px;
    height: 200px;
    position: relative;
    margin: 0 auto;
    position: relative;
    margin-top: -100px;
}

#profile .profile-image .image-container {
    display: block;
    border: 2px solid #fff;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    overflow: hidden;
}

#profile .profile-image img {
    display: block;
    width: 200px;
    height: 200px;
}

#profile .profile-image .verified {
    display: block;
    position: absolute;
    bottom: 0px;
    right: 10px;
    background: #4ae5e2;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 2px solid #fff;
    color: #fff;
    line-height: 50px;
    font-size: 25px;
}

.profile-infos {
   color: #222; 
   padding: 50px 0px;
}

.profile-infos li {
    margin: 10px 0px;
}

.profile-infos .fa {
    margin-right: 5px;
}